<div class="dashboardsection">
  <div class="dash">
    <div class="row spacewrap">
      <div class="col-5 col-sm-3 col-md-3">
        <div class="subhead"><p>Vehicles</p></div>
      </div>
      <div class="col-2 col-sm-6 col-md-6">
        <div class="midhead">
          <form class="form-inline mr-auto">
            <div class="search-element">
              <button class="btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                data-width="200"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="col-5 col-sm-3 col-md-3">
        <div class="endhead">
          <button
            type="button"
            class="add"
            data-toggle="modal"
            data-target="#addvehicle"
          >
            +ADD VEHICLE
          </button>
        </div>
      </div>
    </div>
    <div class="row vehiclewrap">
      <div class="col-md-2"></div>
      <div class="col-md-5"></div>
      <div class="col-md-5">
        <div class="midhead">
          <form class="form-inline mr-auto">
            <div class="search-element">
              <button class="btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <input
                class="form-control"
                type="search"
                placeholder="Search for vehicle"
                aria-label="Search"
                data-width="200"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section" *ngIf="show">
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="row">
          <div class="col-3 col-md-3"></div>
          <div class="col-5 col-md-5 vehicle-img">
            <img
              class="card-img-top"
              src="assets/images/vehicles/honda-dio.jpg"
              alt="Card image cap"
              (click)="hide1()"
            />
          </div>
          <div class="col-4 col-md-4 closewrap">
            <div class="eye"><i class="fa fa-eye"></i></div>
            <div class="close"><i class="fa fa-times"></i></div>
            <div class="edit"><i class="fa fa-edit"></i></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vehicle Name</h5>
          <p class="card-text">Rs. 63,630</p>
          <p class="charge">250W | 85KM/charge</p>
          <a href="#" class="btn btn-primary">View Offers</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vehiclemanagementdetails" *ngIf="hide">
  <div class="row newofferwrap">
    <div class="col-6 col-sm-4 col-md-3">
      <div class="subhead"><p>Vehicle Information</p></div>
    </div>
    <div class="col-3 col-sm-5 col-md-6"></div>
    <div class="col-3 col-sm-3 col-md-3 toggle-right">
      <!-- <div class="toggle">
        <p>Active</p>
        <label>
          <input
            type="checkbox"
            name="custom-switch-checkbox"
            class="custom-switch-input"
            id=""
            checked
          />
          <span class="custom-switch-indicator"></span>
        </label>
      </div> -->
    </div>
  </div>
  <div class="row offerwrap" style="border-bottom: 1px dotted #dadada">
    <div class="col-12 col-sm-4 col-md-4 col-md-4">
      <div class="row">
        <div class="col-md-10">
          <div class="spcloffer">
            <!-- <p>Offer Image</p> -->
            <img src="assets/images/vehicles/honda-dio.jpg" />
            <i class="fa fa-edit" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="offertitle">
        <input type="text" placeholder="Ather" class="form-control" />
        <input type="text" placeholder="Ather 450X" class="form-control" />
        <input type="text" placeholder="E Bikes" class="form-control" />
        <!-- <select name="states" class="custom-select mb-3" value="select">
          <option value="Model" selected>Model</option>
          <option value="a">a</option>
          <option value="b">b</option>
          <option value="c">c</option>
          <option value="d">d</option>
          <option value="e">e</option>
        </select>
        <div class="selectarrow">
          <i
            class="fa fa-angle-down"
            aria-hidden="true"
            aria-disabled="true"
          ></i>
        </div>
        <br />
        <br /> -->
        <!-- <select name="states" class="custom-select mb-3" value="select">
          <option value="Model" selected>Vendor</option>
          <option value="a">a</option>
          <option value="b">b</option>
          <option value="c">c</option>
          <option value="d">d</option>
          <option value="e">e</option>
        </select>
        <div class="selectarrow">
          <i
            class="fa fa-angle-down"
            aria-hidden="true"
            aria-disabled="true"
          ></i>
        </div>
        <br />
        <br /> -->

        <div class="row">
          <div class="col-md-12 pricewrap">
            <label>Price Range:</label>
            <input
              type="text"
              value="Min"
              class="form-control price"
            />-&nbsp;&nbsp;<input
              type="text"
              value="Max"
              class="form-control price"
            />
            <p>Rs.&nbsp;&nbsp;</p>
          </div>
          <!-- <div class="col-md-6 pricewrap">
            <input type="text" value="0" class="form-control price" />
            <p>Rs.</p>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-6 pricewrapp">
            <input type="text" value="250" class="form-control price" />
            <p>W</p>
          </div>
          <div class="col-md-6 pricewrapp">
            <input type="text" value="85" class="form-control price" />
            <p>Km/charge</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="endhead"></div>
    </div>
  </div>
  <div class="row colorwrap" style="margin-top: 30px; margin-bottom: 30px">
    <div class="col-md-6">
      <div class="subhead"><p>Specifications</p></div>
      <div class="row">
        <div class="col-md-5">
          <div class="specifications">
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>True Range :
            </p>
            <p><i class="fa fa-bolt" aria-hidden="true"></i>Peak Power :</p>
            <p><i class="fa fa-line-chart" aria-hidden="true"></i>Torque :</p>
            <p>
              <img
                src="assets/images/vehicles/Transport-Speedometer-icon.png"
              />Top Speed :
            </p>
            <p>
              <i class="fa fa-clock-o" aria-hidden="true"></i>Charging Time :
            </p>
            <p>
              <i class="fa fa-battery-full" aria-hidden="true"></i>Usable
              Capacity :
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="units">
            <input
              type="text"
              class="form-control spec"
              placeholder="70"
            /><span>Km</span>
          </div>
          <div class="units">
            <input
              type="text"
              class="form-control spec"
              placeholder="5.4"
            /><span>kW</span>
          </div>
          <div class="units">
            <input
              type="text"
              class="form-control spec"
              placeholder="22"
            /><span>Nm</span>
          </div>
          <div class="units">
            <input
              type="text"
              class="form-control spec"
              placeholder="80"
            /><span>km/h</span>
          </div>
          <div class="units">
            <input
              type="text"
              placeholder="3hrs"
              class="form-control spec time"
            />:&nbsp;
            <input
              type="text"
              placeholder="35min"
              class="form-control spec time"
            />
          </div>
          <div class="units">
            <input
              type="text"
              class="form-control spec"
              placeholder="2.6 
            "
            /><span>kWh</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row colorwrap">
    <div class="col-md-3">
      <div class="subhead"><p>Colors</p></div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3 toggle-right"></div>
  </div>
  <div class="row offerwrap">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4">
          <div class="black">
            <input type="checkbox" checked />
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="green1">
            <input type="checkbox" checked />
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="green2"><input type="checkbox" checked /></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4">
          <div class="red"><input type="checkbox" checked /></div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="yellow"><input type="checkbox" checked /></div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="grey"><input type="checkbox" checked /></div>
        </div>
      </div>
      <!-- <div class="rgb">
        <div class="row rgbwrap">
          <div class="col-md-7">
            <select name="states" class="custom-select mb-3" value="select">
              <option value="Model" selected>RGB</option>
              <option value="a">a</option>
              <option value="b">b</option>
              <option value="c">c</option>
              <option value="d">d</option>
              <option value="e">e</option>
            </select>
            <div class="selectarrow">
              <i
                class="fa fa-angle-down"
                aria-hidden="true"
                aria-disabled="true"
              ></i>
            </div>
            <br />

            <div class="rgbcolor">
              <div class="redcolor">
                <input type="text" class="form-control" value="#763FF0" />
                <p>Red</p>
              </div>
              <div class="redcolor">
                <input type="text" class="form-control" value="#763FF0" />
                <p>Green</p>
              </div>
              <div class="redcolor">
                <input type="text" class="form-control" value="#763FF0" />
                <p>Blue</p>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="color">
              <input type="text" class="form-control" value="#763FF0" />
            </div>
            <button type="button" class="btn-primary">Save</button>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="offertitle">
        <color-sketch (onChange)="handleChange($event)"></color-sketch>
      </div>
    </div>
    <div class="col-md-4">
      <div class="endhead"></div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="addvehicle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLongTitle"
          style="font-size: 16px; color: blue; font-weight: 600"
        >
          ADD VEHICLE
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span class="closewrap">
              <div *ngFor="let url of urls; let index = index">
                <img [src]="url" alt="" width="100" height="100" />

                <i
                  class="fa fa-times-circle"
                  aria-hidden="true"
                  (click)="removeSelectedFile(index)"
                  *ngIf="RemoveImage"
                ></i>
              </div>

              <button type="button" class="btn btn-primary">
                <span
                  ><i class="fa fa-plus-circle"></i>
                  <p>ADD IMAGE</p></span
                >
                <input
                  type="file"
                  (change)="selectFiles($event)"
                  multiple
                /></button
            ></span>
          </div>
        </div>

        <div class="row vehicle-details-wrap">
          <div class="col-md-6">
            <div class="subhead">
              <p>Vehicle Information:</p>
            </div>
            <div class="offertitle">
              <input type="text" placeholder="Name" class="form-control" />
              <input type="text" placeholder="Model" class="form-control" />
              <input type="text" placeholder="Vendor" class="form-control" />

              <div class="row">
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Rs.&nbsp;&nbsp;</p>
                </div>
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Rs.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>W</p>
                </div>
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Km/charge</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 colorwrap">
            <div class="subhead">
              <p>Specifications:</p>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="specifications">
                  <p>True Range :</p>
                  <p>Peak Power :</p>
                  <p>Torque :</p>
                  <p>Top Speed :</p>
                  <p>Charging Time :</p>
                  <p>Usable Capacity :</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="units">
                  <input type="text" class="form-control spec" /><span>Km</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span>kW</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span>Nm</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span
                    >km/h</span
                  >
                </div>
                <div class="units">
                  <input
                    type="text"
                    class="form-control spec time"
                    placeholder="hrs"
                  />:&nbsp;
                  <input
                    type="text"
                    class="form-control spec time"
                    placeholder="mins"
                  />
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span
                    >kWh</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
