<nav class="navbar navbar-expand-lg main-navbar">
  <div>
    <div class="menu-icon" (click)="menuIcon()">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <ul class="navbar-nav navbar-right ">
    <li class="dropdown dropdown-list-toggle">
      <a
        href="#"
        data-toggle="dropdown"
        class="nav-linkk notification-toggle nav-link-lg"
        ><i class="fa fa-bell"></i>
        <span class="badge headerBadge2"> 3 </span>
      </a>
    </li>
    <li class="dropdown dropdown-list-toggle">
      <a
        href="#"
        data-toggle="dropdown"
        class="nav-linkk nav-link-lg message-toggle"
        ><i class="fa fa-envelope"></i>
        <span class="badge headerBadge1"> 6 </span>
      </a>
    </li>

    <li class="dropdown spacewrap">
      <a
        href="#"
        data-toggle="dropdown"
        class="nav-linkk nav-link-lg nav-link-user"
      >
        <img
          alt="image"
          src="assets/images/vehicles/user.png"
          class="user-img-radious-style"
        />
        <ul class="userblock">
          <li><p>User name</p></li>
          <li><p class="surname">name.surname@gmail.com</p></li>
        </ul>
      </a>

      <div class="dropdown-menu dropdown-menu-right pullDown">
        <div class="dropdown-title">Hello UserName</div>
        <a href="#" class="dropdown-item has-icon">
          <i class="far fa-user"></i> name.surname@gmail.com
        </a>
        <a href="auth-login.html" class="dropdown-item has-icon text-danger">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </div>
    </li>
    <li class="dropdown">
      <a href="auth-login.html" class="has-icon text-danger">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Logout
      </a>
    </li>
  </ul>
</nav>


<div class="main-sidebar sidebar-style-2 main-menu">
  <aside id="sidebar-wrapper">
    <div class="close-icon" (click)="menuIcon()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="sidebar-brand">
      <a href="index.html">
        <img src="assets/images/logo/logo@1X.png" />
      </a>
    </div>

    <ul class="sidebar-menu">
      <li
        class="dropdown"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/']"
          ><i class="fa fa-desktop"></i><span>Dashboard</span></a
        >
      </li>

      <li
        class="dropdown"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <a [routerLink]="['/VehicleManagement']" class="nav-link has-dropdown"
          ><i class="fa fa-truck"></i><span>Vehicle Management</span></a
        >
      </li>
      <li
        class="dropdown"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <a [routerLink]="['/StockManagement']" class="nav-link has-dropdown"
          ><i class="fa fa-tasks" aria-hidden="true"></i
          ><span>Stock Management</span></a
        >
      </li>
      <li
        class="dropdown"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <a [routerLink]="['/LoanManagement']" class="nav-link has-dropdown"
          ><i class="fa fa-money" aria-hidden="true"></i
          ><span>Loan Management</span></a
        >
      </li>
      <li
        class="dropdown"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <a [routerLink]="['/OfferManagement']" class="nav-link has-dropdown"
          ><i class="fa fa-suitcase"></i><span>Offer Management</span></a
        >
      </li>
    </ul>
  </aside>
</div>
