.dashboardsection {
  .dash {
    .spacewrap {
      padding: 10px 20px;
      .subhead {
        p {
          font-size: 18px;
          font-weight: 500;
          color: #266ace;
          padding: 5px 0px 10px 0px;
          margin: 0px;
          display: inline-block;
        }
      }
      .midhead {
        .form-inline {
          .search-element {
            border-radius: 30px;
            background-color: white;
            border: 1px solid gainsboro;
            width: 100%;
          }
          .form-control {
            border: none;
            padding: 5px;
            width: 90%;
            box-shadow: none;
            outline: none;
            font-size: 13px;
          }
          .btn {
            font-size: 12px;
          }
        }
      }
      .endhead {
        .add {
          background: rgba(241, 41, 87, 0.83);
          color: white;
          padding: 5px 10px;
          font-size: 14px;
          border: 1px solid rgba(241, 41, 87, 0.83);
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
.section {
  padding: 10px 20px;
  //   background-color: rgba(0, 0, 0, 0.03);
  .offerwrap {
    padding: 10px 15px;
    background-color: white;
    .subhead {
      p {
        font-size: 17px;
        font-weight: 500;
        color: #266ace;
        padding: 5px 0px 10px 2px;
        margin: 0px;
        display: inline-block;
      }
    }
    .midhead {
      .form-inline {
        .search-element {
          border-radius: 30px;
          background-color: white;
          border: 1px solid gainsboro;
          width: 100%;
        }
        .form-control {
          border: none;
          padding: 5px;
          width: 90%;
          box-shadow: none;
          outline: none;
          font-size: 13px;
        }
        .btn {
          font-size: 12px;
        }
      }
    }
    .endhead {
      .add {
        background: rgb(243 77 115);
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        border: 1px solid rgb(243 77 115);
        box-shadow: none;
        outline: none;
      }
    }
  }
  .spacewrap {
    margin-top: 15px;
    .card {
      border-color: rgba(241, 41, 87, 0.83);
      width: auto !important;
      padding: 8px;
      img {
        width: 100%;
        height: 180px;
      }
      .closewrap {
        display: flex;
        justify-content: flex-end;
        .close {
          opacity: 1;
          i {
            padding: 10px;
            font-size: 20px;
            color: rgba(241, 41, 87, 0.83);
          }
        }
        .edit {
          padding: 7px;
          i {
          }
        }
      }
      .card-header {
        display: flex;
        padding: 0.55rem 1.25rem;
        justify-content: space-between;
        background-color: white;
        h4 {
          font-size: 15px;
          padding: 5px 0 0 0;
        }
        p {
          color: rgba(241, 41, 87, 0.83);
          margin-bottom: 0px;
        }
        select.form-control {
          width: 90px;
          font-size: 12px;
          border: none;
          background-color: transparent;
        }
      }
      .card-body {
        // text-align: center;
        padding: 8px 0 5px 0;
        a {
          border-color: rgba(0, 0, 0, 0.125);
          background: white;
          color: red;
          text-align: center;
          box-shadow: 0 0px 3px 0 rgb(0 0 0 / 10%);
        }
        h5.card-title {
          font-size: 14px;
          margin-bottom: 0px;
          color: #f34d73;
        }
        p.card-text {
          margin-bottom: 0px;
          font-size: 14px;
          font-weight: 500;
          color: gray;
        }
        p.charge {
          color: rgb(0 0 0 / 42%);
          font-size: 14px;
          font-weight: 500;
        }
        .toggle-right {
          text-align: -webkit-right;
          .toggle {
            text-align: center;
            padding: 7px;
            background: #08050508;
            width: 58px;
            height: 58px;
            color: #11d511;
            label {
              .custom-switch-input {
                position: absolute;
                z-index: -1;
                opacity: 0;
              }
              .custom-switch-input:checked ~ .custom-switch-indicator:before {
                left: calc(1rem + 1px);
              }
              .custom-switch-input:checked ~ .custom-switch-indicator {
                background: #11d511;
              }
              .custom-switch-indicator {
                display: inline-block;
                height: 1.25rem;
                width: 2.25rem;
                background: #f7f7f7;
                border-radius: 50px;
                position: relative;
                vertical-align: bottom;
                border: 1px solid rgba(0, 40, 100, 0.12);
                transition: 0.3s border-color, 0.3s background-color;
              }
              .custom-switch-indicator:before {
                content: "";
                position: absolute;
                height: calc(1.25rem - 4px);
                width: calc(1.25rem - 4px);
                top: 1px;
                left: 1px;
                background: #fff;
                border-radius: 50%;
                transition: 0.3s left;
              }
            }

            i {
              font-size: 20px;
            }
            p {
              font-size: 10px;
              margin-bottom: 0px;
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
  .hr-line {
    border-top: 2px solid grey;
    margin: 25px 0;
  }
  .newofferwrap {
    .subhead {
      p {
        font-size: 17px;
        font-weight: 500;
        color: #266ace;
        padding: 0px 0px 10px 2px;
        margin: 0px;
        display: inline-block;
      }
    }
  }
  .offerwrap {
    padding: 0px;
    .spcloffer {
      img {
        // width: 100%;
        // height: 100%;
        border: 2px solid #f34d73;
        width: 100%;
        height: 218px;
      }
      p {
        border: 2px solid #f34d73;
        height: 218px;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        padding: 94px 0;
        color: #f34d73;
        font-size: 14px;
      }
    }
    .offertitle {
      .form-control {
        margin-bottom: 20px;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
      }
      .btnsave {
        background: #f34d73;
        color: white;
        padding: 5px 20px;
        font-size: 14px;
        border: 1px solid #f34d73;
        box-shadow: none;
        outline: none;
        float: right;
      }
      textarea.form-control {
        height: 100px;
      }
    }
  }
}
@media (max-width: 768px) {
  .section {
    .offerwrap {
      .endhead {
        text-align: end;
      }
    }
    .spacewrap {
      .card {
        margin-bottom: 15px;
      }
    }
    .hr-line {
      margin: 10px 0;
    }
  }
}
