<div class="dashboardsection">
  <div class="dash">
    <div class="row spacewrap">
      <div class="col-sm-3 col-md-3">
        <div class="subhead"><p></p></div>
      </div>
      <div class="col-8 col-sm-6 col-md-6">
        <div class="midhead">
          <form class="form-inline mr-auto">
            <div class="search-element">
              <button class="btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                data-width="200"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-3">
        <div class="endhead">
          <button
            type="button"
            class="add"
            data-toggle="modal"
            data-target="#addvehicle"
          >
            +ADD VEHICLE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="row offerwrap">
    <div class="col-4 col-sm-4 col-md-3">
      <div class="subhead"><p>Offers</p></div>
    </div>
    <div class="col-2 col-sm-4 col-md-6"></div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="endhead">
        <button type="button" class="add">+ADD OFFER</button>
      </div>
    </div>
  </div>
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-lg-4">
      <div class="card">
        <img src="assets/images/vehicles/Dussehra-Sale.png" />
        <i class="fa fa-edit" aria-hidden="true"></i>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-8 col-md-8">
              <h5 class="card-title">Dussera Offer</h5>
              <p class="card-text">Starts on 10-oct-2021</p>
              <p class="card-text">Ends on 20-oct-2021</p>
              <p class="card-text">(10 days)</p>
            </div>
            <div class="col-6 col-sm-4 col-md-4 toggle-right">
              <div class="toggle">
                <p>Active</p>
                <label>
                  <input
                    type="checkbox"
                    name="custom-switch-checkbox"
                    class="custom-switch-input"
                    id=""
                    checked
                  />
                  <span class="custom-switch-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <div class="card">
        <img src="assets/images/vehicles/Dussehra-Sale.png" /><i
          class="fa fa-edit"
          aria-hidden="true"
        ></i>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-8 col-md-8">
              <h5 class="card-title">Dussera Offer</h5>
              <p class="card-text">Starts on 10-oct-2021</p>
              <p class="card-text">Ends on 20-oct-2021</p>
              <p class="card-text">(10 days)</p>
            </div>
            <div class="col-6 col-sm-4 col-md-4 toggle-right">
              <div class="toggle">
                <p>Active</p>
                <label>
                  <input
                    type="checkbox"
                    name="custom-switch-checkbox"
                    class="custom-switch-input"
                    id=""
                    checked
                  />
                  <span class="custom-switch-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <div class="card">
        <img src="assets/images/vehicles/Dussehra-Sale.png" /><i
          class="fa fa-edit"
          aria-hidden="true"
        ></i>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-8 col-md-8">
              <h5 class="card-title">Dussera Offer</h5>
              <p class="card-text">Starts on 10-oct-2021</p>
              <p class="card-text">Ends on 20-oct-2021</p>
              <p class="card-text">(10 days)</p>
            </div>
            <div class="col-6 col-sm-4 col-md-4 toggle-right">
              <div class="toggle">
                <p>Active</p>
                <label>
                  <input
                    type="checkbox"
                    name="custom-switch-checkbox"
                    class="custom-switch-input"
                    id=""
                    checked
                  />
                  <span class="custom-switch-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hr-line"></div>
  <div class="row newofferwrap">
    <div class="col-md-3">
      <div class="subhead"><p>New Offer</p></div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div class="endhead"></div>
    </div>
  </div>
  <div class="row offerwrap">
    <div class="col-12 col-sm-4 col-md-4">
      <div class="spcloffer">
        <p>Offer Image</p>
        <!-- <img src="../../assets/images/vehicles/spcloffer.jpg" /> -->
        <i class="fa fa-edit" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="offertitle">
        <input type="text" placeholder="Offer Title" class="form-control" />
        <div class="row">
          <div class="col-md-6">
            <input type="date" value="StartDate" class="form-control" />
          </div>
          <div class="col-md-6">
            <input type="date" value="EndDate" class="form-control" />
          </div>
        </div>
        <textarea class="form-control" placeholder="Message"></textarea>
        <div class="">
          <button type="button" class="btnsave">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="endhead"></div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="addvehicle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLongTitle"
          style="font-size: 16px; color: blue; font-weight: 600"
        >
          ADD VEHICLE
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span class="closewrap">
              <div *ngFor="let url of urls; let index = index">
                <img [src]="url" alt="" width="100" height="100" />

                <i
                  class="fa fa-times-circle"
                  aria-hidden="true"
                  (click)="removeSelectedFile(index)"
                  *ngIf="RemoveImage"
                ></i>
              </div>

              <button type="button" class="btn btn-primary">
                <span
                  ><i class="fa fa-plus-circle"></i>
                  <p>ADD IMAGE</p></span
                >
                <input
                  type="file"
                  (change)="selectFiles($event)"
                  multiple
                /></button
            ></span>
          </div>
        </div>

        <div class="row vehicle-details-wrap">
          <div class="col-md-6">
            <div class="subhead">
              <p>Vehicle Information:</p>
            </div>
            <div class="offertitle">
              <input type="text" placeholder="Name" class="form-control" />
              <input type="text" placeholder="Model" class="form-control" />
              <input type="text" placeholder="Vendor" class="form-control" />

              <div class="row">
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Rs.&nbsp;&nbsp;</p>
                </div>
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Rs.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>W</p>
                </div>
                <div class="col-md-6 pricewrap">
                  <input type="text" class="form-control price" />
                  <p>Km/charge</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 colorwrap">
            <div class="subhead">
              <p>Specifications:</p>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="specifications">
                  <p>True Range :</p>
                  <p>Peak Power :</p>
                  <p>Torque :</p>
                  <p>Top Speed :</p>
                  <p>Charging Time :</p>
                  <p>Usable Capacity :</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="units">
                  <input type="text" class="form-control spec" /><span>Km</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span>kW</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span>Nm</span>
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span
                    >km/h</span
                  >
                </div>
                <div class="units">
                  <input
                    type="text"
                    class="form-control spec time"
                    placeholder="hrs"
                  />:&nbsp;
                  <input
                    type="text"
                    class="form-control spec time"
                    placeholder="mins"
                  />
                </div>
                <div class="units">
                  <input type="text" class="form-control spec" /><span
                    >kWh</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
