.dashboardsection {
  .dash {
    .spacewrap {
      padding: 10px 20px;
      border-bottom: 1px solid #8080802e;
      .subhead {
        p {
          font-size: 17px;
          font-weight: 500;
          color: #53af94;
          padding: 5px 0px 10px 8px;
          margin: 0px;
          display: inline-block;
        }
      }
      .midhead {
        padding-top: 3px;
        .form-inline {
          .search-element {
            border-radius: 30px;
            background-color: white;
            border: 1px solid gainsboro;
            width: 100%;
          }
          .form-control {
            border: none;
            padding: 5px;
            width: 90%;
            box-shadow: none;
            outline: none;
            font-size: 13px;
          }
          .btn {
            font-size: 12px;
          }
        }
      }
      .endhead {
        padding-top: 4px;
        .add {
          background: #e50707;
          color: white;
          padding: 5px 10px;
          font-size: 14px;
          border: 1px solid #e50707;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
  .detailstab {
    padding-left: 10px;
    p {
      color: #53af94;
      font-size: 13px;
      font-weight: 700;
      padding: 14px 30px;
      margin-bottom: 0px;
      border-bottom: 3px solid #53af94;
      width: 110px;
    }
  }
}
.section {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.03);
  .spacewrap {
    margin-top: 15px;
    .card {
      .card-header {
        display: flex;
        padding: 0.55rem 1.25rem;
        justify-content: space-between;
        background-color: white;
        img {
          width: 100%;
          height: 150px;
        }
        h4 {
          font-size: 15px;
          padding: 5px 0 0 0;
        }
        p {
          color: red;
          margin-bottom: 0px;
        }
        select.form-control {
          width: 90px;
          font-size: 12px;
          border: none;
          box-shadow: none;
          outline: none;
          background-color: transparent;
        }
      }
      .inventory {
        padding: 65px 0;
      }
      .card-body {
        height: 207px;
        // padding: 40px 10px;
        padding: 10px 20px;
        .outofstck {
          padding: 58px 0;
          p {
            text-align: center;
            font-size: 30px;
            color: red;
            margin-bottom: 5px;
          }
          h6 {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .lowstck {
          padding: 58px 0;
          p {
            text-align: center;
            font-size: 30px;
            color: orange;
            margin-bottom: 5px;
          }
          h6 {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .approval {
          ul {
            padding-left: 0px;
            li {
              list-style-type: none;
              button.btn {
                font-size: 14px;
                color: #007bff;
                font-weight: 500;
                text-decoration: underline;
                // margin-bottom: 10px;
                box-shadow: none;
                outline: none;
                border: none;
              }
              p {
                padding-left: 10px;
                margin-bottom: 0px;
              }
            }
          }
        }
        .actions {
          li {
            list-style-type: none;
            float: left;
            padding: 0px 5px;
          }
        }
        table {
          margin: 30px 0px;
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          td,
          th {
            // border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          td {
            // width: 100px;
            padding: 4px 3px;
            width: 30px;
            ul {
              li {
                list-style-type: none;
                float: left;
                padding: 0 3px;
              }
            }
            a {
              color: #007bff;
              text-decoration: underline;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        .openoffers {
          img {
            width: 220px;
            height: 187px;
          }
        }
        .edit {
          display: flex;
          i {
            font-size: 13px;
            margin-top: 4px;
            margin-right: 5px;
            color: #9b9696fa;
          }
          p {
            font-size: 14px;
            color: #9b9696fa;
          }
        }
        .openloans {
          p {
            margin-bottom: 0px;
            font-weight: 600;
          }
        }
        .hr-line {
          border-bottom: 1px solid grey;
          margin-bottom: 10px;
          padding: 10px 0;
        }
        .checktimes {
          ul {
            li {
              list-style-type: none;
              float: left;
              i {
                padding-right: 15px;
                font-size: 20px;
              }
              i.fa-check {
                color: #41cf41;
              }
              i.fa-times {
                color: red;
              }
            }
          }
          button {
            outline: none;
            border: none;
            background: none;
            color: #007bff;
            float: right;
            padding: 18px 10px;
            text-decoration: underline;
            box-shadow: none;
          }
        }
      }
    }
  }
}
