<div class="dashboardsection">
  <div class="dash">
    <div class="row spacewrap">
      <div class="col-5 col-sm-3 col-md-3">
        <div class="subhead"><p>Dashboard</p></div>
      </div>
      <div class="col-2 col-sm-6 col-md-6">
        <div class="midhead">
          <form class="form-inline mr-auto">
            <div class="search-element">
              <button class="btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                data-width="200"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="col-5 col-sm-3 col-md-3">
        <div class="endhead">
          <button type="button" class="add">+ADD VEHICLE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="detailstab">
    <p>DETAILS</p>
  </div>
</div>
<section class="section">
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Vehicle Sales</h4>
          <select class="form-control">
            <option>Monthly</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="card-body">
          <div class="bluebar">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Vehicles</h4>
        </div>
        <div class="card-body inventory">
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="outofstck">
                <p style="color: #41cf41">35</p>
                <h6>Saled</h6>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="lowstck">
                <p style="color: orange">76</p>
                <h6>Available</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Inventory</h4>
        </div>
        <div class="card-body inventory">
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="outofstck">
                <p>2</p>
                <h6>Out of Stock</h6>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="lowstck">
                <p>2</p>
                <h6>Out of Stock</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Success Loans</h4>
          <select class="form-control">
            <option>Monthly</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="card-body">
          <div class="redbar">
            <canvas
              baseChart
              [datasets]="barChartData2"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors2"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Loan Status</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-md-6">
              <div class="outofstck">
                <p>2</p>
                <h6>Overdue</h6>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <div class="lowstck">
                <p>2</p>
                <h6>Duesoon</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Open Loans</h4>
        </div>
        <div class="card-body">
          <div class="row hr-line">
            <div class="col-6 col-sm-8 col-md-8">
              <div class="openloans">
                <p>Ryan</p>
                <p>Loans - 30,000&nbsp;<i class="fa fa-rupee-sign"></i></p>
                <p>09-oct-2021</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
              <div class="checktimes">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i></li>
                  <li><i class="fa fa-times" aria-hidden="true"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-8 col-md-8">
              <div class="openloans">
                <p>Cyte</p>
                <p>Loans - 30,000&nbsp;<i class="fa fa-rupee-sign"></i></p>
                <p>09-oct-2021</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
              <div class="checktimes">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i></li>
                  <li><i class="fa fa-times" aria-hidden="true"></i></li>
                </ul>
                <button type="button" class="morebtn">more..</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row spacewrap">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Open Offers</h4>
          <p>Close</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-8 col-md-9">
              <div class="openoffers">
                <img src="assets/images/vehicles/openoffers.jpg" />
              </div>
            </div>
            <div class="col-3 col-sm-4 col-md-3">
              <div class="edit">
                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                <p>Edit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Need Approval</h4>
        </div>
        <div class="card-body">
          <table>
            <tr>
              <td>Twin</td>
              <td>
                <ul>
                  <li></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><a>Aadhar</a></td>
              <td>
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i></li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i></li>
                  <li><i class="fa fa-download" aria-hidden="true"></i></li>
                  <li><i class="fa fa-check" aria-hidden="true"></i></li>
                  <li><i class="fa fa-times" aria-hidden="true"></i></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><a>PAN</a></td>
              <td>
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i></li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i></li>
                  <li><i class="fa fa-download" aria-hidden="true"></i></li>
                  <li><i class="fa fa-check" aria-hidden="true"></i></li>
                  <li><i class="fa fa-times" aria-hidden="true"></i></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><a>License</a></td>
              <td>
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i></li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i></li>
                  <li><i class="fa fa-download" aria-hidden="true"></i></li>
                  <li><i class="fa fa-check" aria-hidden="true"></i></li>
                  <li><i class="fa fa-times" aria-hidden="true"></i></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
