.dashboardsection {
  .dash {
    .spacewrap {
      padding: 10px 20px;
      border-bottom: 1px solid #8080802e;
      .subhead {
        p {
          font-size: 18px;
          font-weight: 500;
          color: #53af94;
          padding: 5px 0px 10px 0px;
          margin: 0px;
          display: inline-block;
        }
      }
      .midhead {
        padding-top: 3px;
        .form-inline {
          .search-element {
            border-radius: 30px;
            background-color: white;
            border: 1px solid gainsboro;
            width: 100%;
          }
          .form-control {
            border: none;
            padding: 5px;
            width: 90%;
            box-shadow: none;
            outline: none;
            font-size: 13px;
          }
          .btn {
            font-size: 12px;
          }
        }
      }
      .endhead {
        padding-top: 4px;
        .add {
          background: rgb(243 77 115);
          color: white;
          padding: 5px 10px;
          font-size: 14px;
          border: 1px solid rgb(243 77 115);
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
  .detailstab {
    padding-left: 10px;
    p {
      color: #53af94;
      font-size: 13px;
      font-weight: 700;
      padding: 14px 30px;
      margin-bottom: 0px;
      border-bottom: 3px solid #53af94;
      width: 110px;
    }
  }
}
.section {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.03);
  .spacewrap {
    margin-top: 15px;
    .card {
      .chartjs-render-monitor {
        width: 280px;
        height: 180px !important;
      }
      .card-header {
        display: flex;
        padding: 0.55rem 1.25rem;
        justify-content: space-between;
        background-color: white;
        img {
          width: 100%;
          height: 150px;
        }
        h4 {
          font-size: 15px;
          padding: 5px 0 0 0;
        }
        p {
          color: red;
          margin-bottom: 0px;
        }
        select.form-control {
          width: 95px;
          font-size: 12px;
          border: none;
          box-shadow: none;
          outline: none;
          background-color: transparent;
        }
      }
      .inventory {
        padding: 65px 0;
      }
      .card-body {
        height: 207px;
        // padding: 40px 10px;
        padding: 10px 20px;
        .outofstck {
          padding: 55px 0;
          p {
            text-align: center;
            font-size: 30px;
            color: red;
            margin-bottom: 5px;
          }
          h6 {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .lowstck {
          padding: 55px 0;
          p {
            text-align: center;
            font-size: 30px;
            color: orange;
            margin-bottom: 5px;
          }
          h6 {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .approval {
          ul {
            padding-left: 0px;
            li {
              list-style-type: none;
              button.btn {
                font-size: 14px;
                color: #007bff;
                font-weight: 500;
                text-decoration: underline;
                // margin-bottom: 10px;
                box-shadow: none;
                outline: none;
                border: none;
              }
              p {
                padding-left: 10px;
                margin-bottom: 0px;
              }
            }
          }
        }
        .actions {
          li {
            list-style-type: none;
            float: left;
            padding: 0px 5px;
          }
        }
        table {
          margin: 30px 0px;
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          td,
          th {
            // border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          td {
            // width: 100px;
            padding: 4px 3px;
            width: 30px;
            ul {
              li {
                list-style-type: none;
                float: left;
                padding: 0 3px;
              }
            }
            a {
              color: #007bff;
              text-decoration: underline;
              font-size: 14px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
        .openoffers {
          img {
            width: 100%;
            height: 187px;
          }
        }
        .edit {
          display: flex;
          float: right;
          i {
            font-size: 13px;
            margin-top: 4px;
            margin-right: 5px;
            color: #9b9696fa;
          }
          p {
            font-size: 14px;
            color: #9b9696fa;
          }
        }
        .openloans {
          p {
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 15px;
          }
        }
        .hr-line {
          border-bottom: 1px solid grey;
          margin-bottom: 10px;
          padding: 10px 0;
        }
        .checktimes {
          ul {
            display: table;
            li {
              list-style-type: none;
              float: left;
              i {
                padding-right: 15px;
                font-size: 20px;
              }
              i.fa-check {
                color: #41cf41;
              }
              i.fa-times {
                color: red;
              }
            }
          }
          button {
            outline: none;
            border: none;
            background: none;
            color: #007bff;
            float: right;
            // padding: 18px 10px;
            text-decoration: underline;
            box-shadow: none;
          }
        }
        .bluebar {
          display: block;
          width: 280px;
          height: 180px;
        }
        .redbar {
          display: block;
          width: 280px;
          height: 180px;
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .section {
    .spacewrap {
      .card {
        .card-body {
          table {
            td {
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .section {
    .spacewrap {
      .card {
        margin-bottom: 15px;
        .card-body {
          .bluebar {
            display: block;
            width: 235px;
            height: 180px;
          }
          .redbar {
            display: block;
            width: 235px;
            height: 180px;
          }
          table {
            td {
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .section {
    .spacewrap {
      .card {
        margin-bottom: 15px;
        .card-body {
          .bluebar {
            display: block;
            width: 260px;
            height: 180px;
          }
          .redbar {
            display: block;
            width: 260px;
            height: 180px;
          }
          table {
            td {
              width: auto;
            }
          }
          .openloans {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .section {
    .spacewrap {
      .card {
        margin-bottom: 15px;
        .card-body {
          .bluebar {
            display: block;
            width: 245px;
            height: 180px;
          }
          .redbar {
            display: block;
            width: 245px;
            height: 180px;
          }
          table {
            td {
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .section {
    .card {
      margin-bottom: 15px;
      .card-body {
        .bluebar {
          width: 100% !important;
        }
        .redbar {
          width: 100% !important;
        }
        .openloans {
          p {
            font-size: 14px;
          }
        }
      }
    }
    .spacewrap {
      margin-top: 0px;
      .card {
        .card-body {
          .openloans {
            p {
              font-size: 13px;
            }
          }
          .checktimes {
            button.morebtn {
              padding-top: 0px;
              padding-bottom: 0px;
            }
          }
          .openoffers {
            img {
              width: 100%;
              height: 187px;
            }
          }
          .checktimes {
            ul {
              padding-left: 0px;
            }
          }
          table {
            td {
              padding: 4px 0px;
              width: auto;
              ul {
                li {
                  font-size: 11px;
                  flex-wrap: nowrap;
                }
              }
            }
          }
        }
        .card-header {
          h4 {
            font-size: 13px;
            padding: 10px 0 0 0;
          }
        }
      }
    }
  }
  .dashboardsection {
    .dash {
      .spacewrap {
        .midhead {
          .form-inline {
            .form-control {
              width: auto;
            }
          }
        }
        .endhead {
          float: right;
          .add {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .dashboardsection {
    .dash {
      .spacewrap {
        .midhead {
          display: none;
        }
        .endhead {
          float: right;
          .add {
            font-size: 12px;
          }
        }
      }
    }
  }
  .section {
    .spacewrap {
      .card {
        .card-body {
          .openoffers {
            img {
              width: 100%;
              height: 187px;
            }
          }
          table {
            td {
              width: 30px;
            }
          }
        }
      }
    }
  }
}
